<#include "_layout.html"/>
<@layout>
	<!--banner-->
	<div class="banner">
		<ul class='swiper-wrapper'>
			<li class="b_img swiper-slide">
				<a href="javascript:;" style="background-image: url(${CTPATH}/images/shmz_banner.jpg);"></a>
			</li>
			<li class="b_img swiper-slide">
				<a href="javascript:;" style="background-image: url(${CTPATH}/images/banner_02.png);"></a>
			</li>
		</ul>
		<div class='banner_paginator_wrapper'>
			<div class='banner_icon'></div>
		</div>
	</div>
	<!--banner结束-->
	<!--活动列表-->
	<div class="class_img_bg">
		<div class="class_img">
			<div class="left_class">
				<a class="left_class_map" href="${SPATH}/page_map.html">
					<img src="${CTPATH}/images/gongyi_map.png">
					<span>公益地图</span>
				</a>
			</div>
			<div class="center_class">
				<div class='content'>
					<div class="center_class_01">
						<p>注册公益市民 (人)</p>
						<span id="center_num_01">167</span>
					</div>
					<div class="center_class_02">
						<p>公益服务时长 (万小时)</p>
						<span id="center_num_02">210267</span>
					</div>
					<div class="center_class_03">
						<p>注册公益组织(个)</p>
						<span id="center_num_03">3803</span>
					</div>
					<a class="jion_vol" href="javascript:;">申请公益护照</a>
				</div>
			</div>
			<div class="right_class">
				<ul>
					<li class="ci_list">
						<a class="ci_block" href="list.html">
							<img src="${CTPATH}/images/tree.png" />
							<span>文化</span>
						</a>
					</li>
					<li class="ci_list">
						<a class="ci_block" href="list.html">
							<img src="${CTPATH}/images/sport.png" />
							<span>体育</span>
						</a>
					</li>
					<li class="ci_list">
						<a class="ci_block" href="list.html">
							<img src="${CTPATH}/images/civilization.png" />
							<span>教育</span>
						</a>
					</li>
					<li class="ci_list">
						<a class="ci_block" href="list.html">
							<img src="${CTPATH}/images/safety.png" />
							<span>卫生医疗</span>
						</a>
					</li>
					<li class="ci_list">
						<a class="ci_block" href="list.html">
							<img src="${CTPATH}/images/oldman.png" />
							<span>社区</span>
						</a>
					</li>
					<li class="ci_list">
						<a class="ci_block" href="list.html">
							<img src="${CTPATH}/images/youngman.png" />
							<span>社会组织</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class='index_main_wrapper'>
		<div class='index_shoecase_wrapper'>
			<ul class='index_shoecaselist_wrapper'>
				<li class='active'>
					<a href="javascript:;">基地展示</a>
				</li>
				<li>
					<a href="javascript:;">活动展示</a>
				</li>
				<li>
					<a href="javascript:;">公益先锋</a>
				</li>
				<li>
					<a href="javascript:;">新闻资讯</a>
				</li>
				<li>
					<a href="javascript:;">公益大数据</a>
				</li>
			</ul>
			<ul class='index_maincontent_wrapper'>
				<li class='active'>
					<div class='index_basecontent_wrapper'>
						<div class="title">
							<@jp.taxonomy id="10">
								<a class='more' href="${taxonomy.url}">更多&gt;&gt;</a>
							</@jp.taxonomy>
						</div>
						<ul class='list_wrpper'>
							<@jp.contents module="base" typeSlug="allbases" count="4">
								<#list contents as content>
									<li>
										<a class='thumbnail' href="${content.url!}">
											<img src="${(content.thumbnail)!}">
										</a>
										<a href="${content.url!}">${content.title!}</a>
										<div class='desc'>
											<p class='location'>
												<span>地点：</span>
												<label>${content.metadata('_meta5')!}</label>
											</p>
											<p class='date'>
												<span>申报时间：</span>
												<label>${content.metadata('_meta6')!}</label>
											</p>
										</div>
									</li>
								</#list>
							</@jp.contents>
						</ul>
					</div>
				</li>
				<li>
					<div class='index_basecontent_wrapper'>
						<div class="title">
							<a class="more" href="/jpress/base-allbases-1">更多&gt;&gt;</a>
						</div>
						<ul class='list_wrpper'>
							<@jp.contents module="activity" typeSlug="allactivities" count="4">
								<#list contents as content>
									<li>
										<a class='thumbnail' href="${content.url!}">
											<img src="${(content.thumbnail)!}">
										</a>
										<a href="${content.url!}">${content.title!}</a>
										<div class='desc'>
											<p class='location'>
												<span>地点：</span>
												<label>${content.metadata('_meta5')!}</label>
											</p>
											<p class='date'>
												<span>申报时间：</span>
												<label>${content.metadata('_meta6')!}</label>
											</p>
										</div>
									</li>
								</#list>
							</@jp.contents>
						</ul>
					</div>
				</li>
				<li>
					<div class='index_pioneer_wrapper'>
						<div class="title">
							<a class="more" href="/jpress/base-allbases-1">换一换</a>
						</div>
						<ul class='list_wrpper'>
							<li>
								<div class='avatar'>
									<img src="${CTPATH}/images/huoyzyz01.jpg">
								</div>
								<div class='desc'>
									<label>谭美娟</label>
									<span>服务时长:185</span>
								</div>
							</li>
							<li>
								<div class='avatar'>
									<img src="${CTPATH}/images/huoyzyz01.jpg">
								</div>
								<div class='desc'>
									<label>谭美娟</label>
									<span>服务时长:185</span>
								</div>
							</li>
							<li>
								<div class='avatar'>
									<img src="${CTPATH}/images/huoyzyz01.jpg">
								</div>
								<div class='desc'>
									<label>谭美娟</label>
									<span>服务时长:185</span>
								</div>
							</li>
							<li>
								<div class='avatar'>
									<img src="${CTPATH}/images/huoyzyz01.jpg">
								</div>
								<div class='desc'>
									<label>谭美娟</label>
									<span>服务时长:185</span>
								</div>
							</li>
							<li>
								<div class='avatar'>
									<img src="${CTPATH}/images/huoyzyz01.jpg">
								</div>
								<div class='desc'>
									<label>谭美娟</label>
									<span>服务时长:185</span>
								</div>
							</li>
							<li>
								<div class='avatar'>
									<img src="${CTPATH}/images/huoyzyz01.jpg">
								</div>
								<div class='desc'>
									<label>谭美娟</label>
									<span>服务时长:185</span>
								</div>
							</li>
							<li>
								<div class='avatar'>
									<img src="${CTPATH}/images/huoyzyz01.jpg">
								</div>
								<div class='desc'>
									<label>谭美娟</label>
									<span>服务时长:185</span>
								</div>
							</li>
							<li>
								<div class='avatar'>
									<img src="${CTPATH}/images/huoyzyz01.jpg">
								</div>
								<div class='desc'>
									<label>谭美娟</label>
									<span>服务时长:185</span>
								</div>
							</li>
						</ul>
						<div class="index_passportquery_wrapper">
							<h2 class="title">公益护照查询</h2>
							<ul class="tab">
								<li class="active">
									<a href="javascript:;">公益护照查询</a>
								</li>
								<li class=" ">
									<a class="processquery" href="javascript:;">公益护照申请进度查询</a>
								</li>
							</ul>
							<div class="maincontent">
								<ul class="active">
									<li>
										<div>
											<label>姓名:</label>
											<input type="text" name="" id="" value="">
										</div>
										<div>
											<label>护照编号:</label>
											<input type="text" name="" id="" value="">
										</div>
									</li>
									<a class="querybtn" href="javascript:;">查询</a>
								</ul>
								<ul class=" ">
									<li>
										<div>
											<label>姓名:</label>
											<input type="text" name="" id="" value="">
										</div>
										<div>
											<label>订单编号:</label>
											<input type="text" name="" id="" value="">
										</div>
									</li>
									<a class="querybtn" href="javascript:;">查询</a>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class='index_article_wrapper'>
						<div class="title">
							<h3 class='headline'>
								<label>今日关注：</label>
								<a href="javascript:;">推动建立“四新”人才高地 产业与信息化“十三五”人才规划发布</a>
							</h3>
							<@jp.taxonomy id="1">
								<a class="more" href="${taxonomy.url}">更多&gt;&gt;</a>
							</@jp.taxonomy>
						</div>
						<div class='maincontent'>
							<div class='carousel'>
								<ul class='swiper-wrapper'>
									<li class='swiper-slide'>
										<a href="javascript:;">
											<img src="${CTPATH}/images/59764.jpg">
											<div class='desc'>
												<p>让孩子体味站上舞台的心动 上海国际艺术节中小学戏剧嘉年华近日举行</p>
											</div>
										</a>
									</li>
									<li class='swiper-slide'>
										<a href="javascript:;">
											<img src="${CTPATH}/images/59764.jpg">
											<div class='desc'>
												<p>让孩子体味站上舞台的心动 上海国际艺术节中小学戏剧嘉年华近日举行</p>
											</div>
										</a>
									</li>
								</ul>
								<div class='pagination'></div>
							</div>
							<div class='index_articlelist_wrapper'>
								<div class='tab'>
									<ul>
										<li class='active'>
											<a href="javascript:;">信息公告</a>
										</li>
										<li>
											<a href="javascript:;">新闻资讯</a>
										</li>
										<li>
											<a href="javascript:;">政策法规</a>
										</li>
									</ul>
								</div>
								<div class='list'>
									<ul class='active'>
										<@jp.contents module="article" typeSlug="announcement" count="10">
											<#list contents as content>
												<li>
													<a href="${content.url!}" title='${content.title!}'>
														<h6>${content.title!}</h6>
													</a>
												</li>
											</#list>
										</@jp.contents>
									</ul>
									<ul>
										<@jp.contents module="article" typeSlug="news" count="10">
											<#list contents as content>
												<li>
													<a href="${content.url!}" title='${content.title!}'>
														<h6>${content.title!}</h6>
													</a>
												</li>
											</#list>
										</@jp.contents>
									</ul>
									<ul>
										<@jp.contents module="article" typeSlug="policy" count="10">
											<#list contents as content>
												<li>
													<a href="${content.url!}" title='${content.title!}'>
														<h6>${content.title!}</h6>
													</a>
												</li>
											</#list>
										</@jp.contents>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class='index_basecontent_wrapper'>
						<div class="title">
							<a class="more" href="javascript:;">更多&gt;&gt;</a>
						</div>
						<div class="index_ranking_wrapper">
							<div class="list">
								<h6><span></span>公益基地排行</h6>
								<ul>
									<li>
										<span>1</span>
										<p>广州市</p>
										<label>1470697</label>
									</li>
									<li>
										<span>1</span>
										<p>广州市</p>
										<label>1470697</label>
									</li>
									<li>
										<span>1</span>
										<p>广州市</p>
										<label>1470697</label>
									</li>
									<li>
										<span>1</span>
										<p>广州市</p>
										<label>1470697</label>
									</li>
									<li>
										<span>1</span>
										<p>广州市</p>
										<label>1470697</label>
									</li>
									<li>
										<span>1</span>
										<p>广州市</p>
										<label>1470697</label>
									</li>
									<li>
										<span>1</span>
										<p>广州市</p>
										<label>1470697</label>
									</li>
								</ul>
							</div>
							<div class="list">
								<h6><span></span>公益时长排行</h6>
								<ul>
									<li>
										<span>1</span>
										<p>广州市</p>
										<label>1470697</label>
									</li>
									<li>
										<span>1</span>
										<p>广州市</p>
										<label>1470697</label>
									</li>
									<li>
										<span>1</span>
										<p>广州市</p>
										<label>1470697</label>
									</li>
									<li>
										<span>1</span>
										<p>广州市</p>
										<label>1470697</label>
									</li>
									<li>
										<span>1</span>
										<p>广州市</p>
										<label>1470697</label>
									</li>
									<li>
										<span>1</span>
										<p>广州市</p>
										<label>1470697</label>
									</li>
									<li>
										<span>1</span>
										<p>广州市</p>
										<label>1470697</label>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!--活动列表结束-->
	<div class="com_yqlj clearfix">
		<div class="com_yqlj_left">
			<span>友情链接:</span>
		</div>
		<ul class="com_yqlj_right">
			<li><a href="javascript:;">中国共青团网</a></li>
			<li><a href="javascript:;">中国青年志愿者网 </a></li>
			<li><a href="javascript:;">志愿北京天津共青团</a></li>
			<li><a href="javascript:;">河北青年志愿服务网</a></li>
			<li><a href="javascript:;">山西志愿者网</a></li>
			<li><a href="javascript:;">内蒙古志愿者网</a></li>
			<li><a href="javascript:;">辽宁青年志愿服务网</a></li>
			<li><a href="javascript:;">吉林省青年志愿者协会</a></li>
			<li><a href="javascript:;">黑龙江省志愿服务平台</a></li>
			<li><a href="javascript:;">上海青年志愿者智慧公益平台</a></li>
			<li><a href="javascript:;">江苏志愿服务网</a></li>
			<li><a href="javascript:;">浙江志愿者网</a></li>
		</ul>
	</div>
	</div>
	<script type="text/javascript">
	$(function() {
		$.fn.extend({
			tabSwitch: function(options) {
				options = $.extend({
					//对应的分页class父级元素
					classname: '',
					callback: function() {}
				}, options)
				var $this = $(this);
				$this.click(function(e) {
					var index = $(this).index();
					$(this).addClass('active').siblings().removeClass('active');
					$(options.classname).eq(index).addClass('active').siblings().removeClass('active');
					options.callback(index);
				})
			}
		});
		var index = {
			banner: function() {
				var bannerSwiper = new Swiper('.banner', {
					loop: true,
					pagination: '.banner_icon',
					paginationClickable: true,
					autoplay: 5000
				});
			},
			tabs: function() {
				$('.index_shoecaselist_wrapper li').tabSwitch({
					classname: '.index_maincontent_wrapper>li',
					callback: function(index) {
						var newsSwiper;
						if (newsSwiper == null && index == 3) {
							newsSwiper = new Swiper('.index_article_wrapper .carousel', {
								loop: true,
								pagination: '.index_article_wrapper .pagination',
								paginationClickable: true,
								lazyLoading: true
							});
						}
					}
				});
				$('.index_articlelist_wrapper .tab li').tabSwitch({
					classname: '.index_articlelist_wrapper .list ul'
				});
				$('.index_passportquery_wrapper .tab li').tabSwitch({
					classname: '.index_passportquery_wrapper .maincontent ul'
				});
			},
			count: function() {
				Num_Handle("#center_num_01");
				Num_Handle("#center_num_02");
				Num_Handle("#center_num_03");

				//数字处理
				function Num_Handle(NumValue) {
					var numValue = $(NumValue).html().split('');
					var text_html = "<ul style='display:table;margin:0 auto;overflow:hidden;'>";
					for (var i = 0; i < numValue.length; i++) {
						text_html += "<li style='background:#fff;color: #5e96c9;font-size:24px;float:left;width:30px;height:38px;line-height:38px;text-align: center;   margin-left:1px;'>" + numValue[i] + "</li>"
					}
					text_html += "</ul>"
					$(NumValue).html(text_html);
				}
			},
			ajax: function() {
				$.ajax({
					type: 'post',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data: JSON.stringify(GetJsonData()),
					url: 'http://test.dakaqi.cn:3030/approve/address/queryAddressList',
					success: function(data) {
						console.log(data)
					}
				})

				function GetJsonData() {
					var json = {

					};
					return json;
				}
			},
			init: function() {
				this.banner();
				this.tabs();
				this.count();
			}
		}
		index.init();
	})
	</script>
</@layout>
